<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="container">
        <form action="/blogs" method="POST">
            <label for="title">Blog title</label><br>
            <input type="text" name="title" requried>
            <label for="snippet">Blog snippet</label>
            <input type="text" name="snippet" required>
            <label for="body">Blog Body</label>
            <input type="text" name="body">
            <button type="submit">Send</button>
        </form>
    </main>
</body>
</html>